<!DOCTYPE html>
<html>
<head>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta charset="UTF-8" />
<title>Titre de votre page</title>
</head>
</head>
<body>
	<div ng-controller="AccountController">
	     <!-- alert div -->
         <div ng-class="'alert alert-'+message().type" ng-show="message().show">
              <button type="button" class="close" ng-click="message().show=false">×</button>
              <msg key-expr="message().code"></msg>
         </div>
         <!--  -->
         
		<div
			style="border-bottom: 2px solid #337ab7; color: #2e6da4; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 20px; margin-top: 5px; margin-bottom: 5px;">
			Agence</div>
        <div ng-hide="iseditagency">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label">Nom</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.name}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Code</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.code}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Ville</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.city}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Adresse</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.address}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Téléphone</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.phone}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="email">Fax</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.fax}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Nombre de voitures</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{agency.carnumber}}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block" ng-click="editagency()">Editer</button>
				</div>
			</div>
		</form>
		</div>
        <div ng-show="iseditagency">
		<form class="form-horizontal" role="form" >
		    <div class="form-group" ng-show="false">
					<input type="text" id="id"  ng-model="agency.id">
			</div>
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label">Nom</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control" ng-model="agency.name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Code</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control" ng-model="agency.code">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Ville</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control" ng-model="agency.city">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Adresse</label>
				<div class="col-sm-9">
					<input type="text" 
					    class="form-control" ng-model="agency.address">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Téléphone</label>
				<div class="col-sm-9">
					<input type="text"  
					   class="form-control" ng-model="agency.phone">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Fax</label>
				<div class="col-sm-9">
					<input type="text" 
					  class="form-control" ng-model="agency.fax">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Nombre de voitures</label>
				<div class="col-sm-9">
					<input type="text" 
					  class="form-control" ng-model="agency.carnumber">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block" ng-click="saveagency()">Envoyer</button>
				</div>
			</div>
		</form>
		</div>
		<!-- /form -->
		<div style="border-bottom: 2px solid #337ab7; color: #2e6da4; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 20px; margin-top: 5px; margin-bottom: 5px;">
			Gérant
	    </div>
	    
	    <div ng-hide="iseditprofile">
	    <form class="form-horizontal" role="form" ng-show="true">
			<div class="form-group">
				<label class="col-sm-3 control-label">Nom</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{profile.name}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Identifiant</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{profile.login}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Mot de passe</label>
				<div class="col-sm-9">
					<p class="form-control-static">..........</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Téléphone</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{profile.phone}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Mail</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{profile.mail}}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block" ng-click="editprofile()">Modifier Le Mot De Passe</button>
				</div>
			</div>
		</form>
        </div>
		<div ng-show="iseditprofile">
		<form class="form-horizontal" role="form" >
		    <div class="form-group" ng-show="false">
					<input type="text"   ng-model="profile.id">
			</div>
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label">Nom</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control" ng-model="profile.name" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Identifiant</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control" ng-model="profile.login" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Mot de passe</label>
				<div class="col-sm-9">
					<input type="password" 
						class="form-control" ng-model="profile.password">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Téléphone</label>
				<div class="col-sm-9">
					<input type="text"  
					   class="form-control" ng-model="profile.phone" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label for="birthDate" class="col-sm-3 control-label">Mail</label>
				<div class="col-sm-9">
					<input type="text"  
					  class="form-control" ng-model="profile.mail" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block" ng-click="saveprofile()">Envoyer</button>
				</div>
			</div>
		</form>
		</div>
		<!-- /form -->
	</div>
</body>
</html>