<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<meta charset="UTF-8" />
		<title>Titre de votre page</title>
	</head>
	
<body >
    <div ng-controller="PasswordController">    
        <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                  
            <div class="panel panel-info" >
                    <!-- Form head -->
                    <div class="panel-heading">
                        <div class="panel-title">Initialisation mot de passe</div>
                    </div>
                    <!--  --> 
                    
                    <!-- alert div -->
                    <div ng-class="'alert alert-'+message().type" ng-show="message().show">
                        <button type="button" class="close" ng-click="message().show=false">×</button>
                        <msg key-expr="message().code"></msg>
                    </div>
                    <!--  -->
                    
                    
   
                    <!-- Form body -->
                    <div  id="panel-body" class="panel-body" ng-show="isinitpassword">    
                        <form id="loginform" class="form-horizontal" role="form">         
                            <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="text" ng-model="profile.mail" class="form-control" placeholder=" Email ">
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ajaxinitpassword()">Envoyer</button>
                       </form>     
                    </div> 
                    <!--  -->                    
             </div>  
          </div>
        </div>
	</body>
</html>